<ul id="product-inkit-buttons" class="inkit-buttons inline"><%
  if product.has_variants?
    product.variants.each do |variant|
      ink_button = variant.ink_button
      if ink_button.published && ink_button.publish %>
        <li class='vtmb tmb-<%= variant.id %>'>
          <%# ink_button.url + '?subsite=mini' %>
          <%= link_to(ink_negotiate_path(buid: ink_button.uid), class: 'button large primary') do %>
            <%= image_tag(Spree::Config.inkit_button_logo_url,class: "inkit_logo") %>
            <%= Spree.t(:inkit_make_an_offer) %>
          <% end %>
        </li><%
      end
    end
  else
    variant = product.master
    ink_button = variant.ink_button
    if ink_button.published && ink_button.publish %>
      <li>
        <%# ink_button.url + '?subsite=mini' %>
        <%= link_to(ink_negotiate_path(buid: ink_button.uid), class: 'button large primary') do %>
          <%= image_tag(Spree::Config.inkit_button_logo_url,class: "inkit_logo") %>
          <%= Spree.t(:inkit_make_an_offer) %>
        <% end %>
      </li><%
    end
  end %>
</ul>